@{
    ViewBag.Title = "Anasayfa";
}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/Scripts/Content/img/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Taze Kahve</span>
                    <span class="section-heading-lower">İçmeye Değer</span>
</h2>
                <p class="mb-3">
                    Kaliteli esnaf kahvemizin her fincanı, yerel kaynaklı, elle toplanmış malzemelerle başlar. Bir kez denediğinizde, kahvemiz günlük sabah rutininize mutlu bir ek olacak - bunu garanti ediyoruz!
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="#">Yarın Görüşürüz</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Bizim Sözümüz</span>
                        <span class="section-heading-lower">Senin için</span>
                    </h2>
                    <p class="mb-0">Güne başlamak için mağazamıza girdiğinizde, size güler yüzlü hizmet, sıcak bir atmosfer ve her şeyden önce, en kaliteli malzemelerle yapılmış mükemmel ürünler sunmaya adadık. Eğer memnun değilseniz, lütfen bize bildirin ve işleri doğru yapmak için elimizden geleni yapacağız!</p>
                </div>
            </div>
        </div>
    </div>
</section>