
@{
    ViewBag.Title = "Mağaza";
}


<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Come On In</span>
                        <span class="section-heading-lower">We're Open</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Pazar
                            <span class="ml-auto">Kapalı</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Pazartesi
                            <span class="ml-auto">Sabah 7:00 ile Akşam 8:00 </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Salı
                            <span class="ml-auto">Sabah 7:00 ile Akşam 8:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Çarşamba
                            <span class="ml-auto">Sabah 7:00 ile Akşam 8:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Perşembe
                            <span class="ml-auto">Sabah 7:00 ile Akşam 8:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Cuma
                            <span class="ml-auto">Sabah 7:00 ile Akşam 8:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Cumartesi
                            <span class="ml-auto">Sabah 7:00 ile Akşam 8:00</span>
                        </li>
                    </ul>
                    <p class="address mb-5">
                        <em>
                            <strong>Maslak Cd</strong>
                            <br>
                            Bağcılar - İstanbul
                        </em>
                    </p>
                    <p class="mb-0">
                        <small>
                            <em>Herzaman Arayabilirsiniz</em>
                        </small>
                        <br>
                       0 (505) 585-8468
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/Scripts/Content/img/about.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Güçlü kahve  Güçlü Kokler</span>
                            <span class="section-heading-lower">CAfe Hakkında</span>
                        </h2>
                        <p>1987 yılında Hernandez kardeşler tarafından kurulan kuruluşumuz, Güney ve Orta Amerika'nın çeşitli bölgelerindeki esnaf çiftçilerinden gelen zengin kahvelere hizmet vermektedir. Dünyayı gezmeye, en iyi kahveyi bulmaya ve kafemizde size geri getirmeye adadık</p>
                        <p class="mb-0">
                            İçeri gireceğinizi garanti ediyoruz
                            <em>lust</em>
                            çöküşümüzle son yudumunuzu bitirene kadar içeride yürüdüğünüz anı harmanlar. Günlük rutininiz, arkadaşlarınızla bir gezi veya sadece yalnız bir zamanın tadını çıkarmak için bize katılın.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
